@import "../custom-properties.css";

.footer {
  background-color: var(--brand-colour);
  box-shadow: inset 0 0.1rem 0 #ccc;
  color: var(--yellow);
  font: 300 var(--type-2) var(--body-font);
}

.footer__inner {
  padding: 1rem;
  margin: 2rem auto 0;
  max-width: 85rem;

  @media screen and (min-width: 42.5rem) {
    padding: 2rem;
  }
}
